table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    margin: auto;
}
td {
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}
.cell1 {
    background-color: rgb(252, 255, 192);
}
.cell2 {
    background-color: rgb(255, 184, 184);
}
@media (max-width: 600px) {
    table {
        width: 100%;
    }
    tr {
        display: block;
    }
    td {
        display: block;
        width: 100%;
    }
}