html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: 32px;
}
td {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
}
.cell1 {
    background-color: rgb(252, 255, 192);
}
.cell2 {
    background-color: rgb(255, 184, 184);
}
